<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jogger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JoggerE2ETests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED208A651E8113D400B6074B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED208A7B1E8113D400B6074B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED208A8F1E811A6C00B6074B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED208A971E811A6C00B6074B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED9FF4541E9249D000D20FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
